{{define "nav"}}
<nav class="container-fluid">
  <ul>
    <li>
      <a href="/"><strong>Tierlister</strong></a>
    </li>
  </ul>
  <ul>
    <li><a href="/tierlists/create">New Tierlist</a></li>
    <li><a href="/images">Images</a></li>
  </ul>
</nav>
{{end}}
