{{define "body"}}
<h1 id="create-tierlist-title">Create Tierlist</h1>
<form aria-labelledby="create-tierlist-title" method="post">
  {{template "tierlist_edit_fieldset" .}}
  <input type="submit" value="Create" />
</form>
{{end}}
